SECRET_KEY="fittrack-django-super-secret-key-change-in-production"
DEBUG=True
PORT=4000
DB_NAME=fittrack_db
DB_USER=fittrack
DB_PASSWORD=fittrack_password
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOW_ALL=True
